<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="index3.html" class="brand-link">
        <span class="brand-text font-weight-light">Meme Templates</span>
    </a>

    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            The Meme Tempalates
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Category")" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Categories
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Tags")" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Tags
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","AboutUs")" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            About Us
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Contact")" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Contact
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","Disclaimer")" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Disclaimer
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("Index","PrivacyPolicy")" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Privacy Policy
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>